<script src="__STATIC__/Common/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script src="__STATIC__/Common/plugins/jquery-mockjax/jquery.mockjax.js"></script>
<script src="__STATIC__/Common/plugins/toastr/toastr.js"></script>
<script src="__STATIC__/Common/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="__STATIC__/Common/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script src="__STATIC__/Common/plugins/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
<script src="__STATIC__/Common/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script src="__STATIC__/Common/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="__STATIC__/Common/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="__STATIC__/Common/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<script src="__STATIC__/Common/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="__STATIC__/Common/plugins/DataTables/media/js/DT_bootstrap.js"></script>
<script src="__STATIC__/Common/plugins/truncate/jquery.truncate.js"></script>
<script src="__STATIC__/Common/plugins/summernote/dist/summernote.min.js"></script>
<script src="__STATIC__/Common/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="__STATIC__/Common/js/subview.js"></script>
<script src="__STATIC__/Common/js/subview-examples.js"></script>