<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>{:C("LANG_LOGIN")} - {:C("LANG_APP_NAME")} {:C("LANG_APP_VERSION")}</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="__STATIC__/Common/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="__STATIC__/Common/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__STATIC__/Common/css/styles.css">
		<link rel="stylesheet" href="__STATIC__/Common/css/styles-responsive.css">
		<link rel="stylesheet" href="__STATIC__/Common/plugins/animate.css/animate.min.css">
		<link rel="stylesheet" href="__STATIC__/Common/css/themes/theme-default.css" type="text/css" id="skin_color">
		<link rel="stylesheet" href="__STATIC__/Common/css/print.css" type="text/css" media="print"/>
		<!--[if IE 7]>
		<link rel="stylesheet" href="__STATIC__/Common/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
 		<link rel="shortcut icon" href="__STATIC__/Common/images/favicon.ico" type="image/png">
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body class="lock-screen">
		<div class="main-ls animated flipInX">
			<div class="logo">
				<img src="__STATIC__/Common/images/eas-logo-white.png">
			</div>
			<div class="box-ls">
				<img alt="" src="__STATIC__/Common/images/avatar-1-xl.jpg"/>
				<div class="user-info">
					<h1><i class="fa fa-lock"></i>{$admin['nickname']}</h1>
					<span>{$admin['email']}</span>
					<span>{:C("LANG_TO_UNLOCK")}</span>
					<form id="form-lock" action="__MODULE__/Login/login" method="post">
						<div class="input-group">
							<input type="hidden" id="ebes0csjd-input" name="ebes0csjd" class="form-control" value="{$admin['account']}">
							<input type="password" id="do98jf7hs-input" name="do98jf7hs" placeholder="{:C('LANG_PASSWORD')}" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-green" type="submit">
									<i class="fa fa-chevron-right"></i>
								</button> </span>
						</div>
						<div class="relogin">
							<a href="__MODULE__/Login/index">
								{:C("LANG_NOT_ME")}{$admin['nickname']}?</a>
						</div>
					</form>
				</div>
			</div>
			<div class="copyright">
				{:C("LANG_COPYRIGHT")} {:C("LANG_APP_VERSION")}
			</div>
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="__STATIC__/Common/plugins/respond.min.js"></script>
		<script src="__STATIC__/Common/plugins/excanvas.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script type="text/javascript" src="__STATIC__/Common/plugins/jQuery/jquery-1.11.1.min.js"></script>
		<!--<![endif]-->
		<script src="__STATIC__/Common/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<script src="__STATIC__/Common/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="__STATIC__/Common/plugins/jquery-cookie/jquery.cookie.js"></script>
        <script src="__STATIC__/Common/js/jquery.md5.js"></script>
		<script src="__STATIC__/Common/js/main.js"></script>
		<script src="__STATIC__/Login/JS/lock.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Lock.init();
			});
		</script>
	</body>
	<!-- end: BODY -->
</html>